<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style1.css"  >



<title>MY FITST WEBSITE</title>
</head>
<body>

<!-------- Home------->


<header class="sticky">
<div class="logo">
<h4 style="margin-left:40px;">Suraj mistri</h4>
</div>
<div class="nav">
<ul>
<b><li><a id="homebt" href="#home" >Home</a></li></b>
<b><li><a href="#about" >About</a></li></b>
<b><li><a href="#service" >Service</a></li></b>
<b><li><a href="#portfolio" >Our Works</a></li></b>
<b><li><a href="#team" >Team</a></li></b>
<b><li><a href="#contact" >Contact</a></li></b>
</ul>
</div>
</header>

<section class="banner" id="home">
<h2>We Make<span> Banner</span> Mature</h2>
</section>


<!----------ABOUT---------->


<section class="sec" id="about">
<div class="content">
<div class="max22">
<h3>Who Are We.</h3>
<p>Comments are also great for <!--debugging comment out HTML lines of code, one at a time, to search for errors 
Comments are also great for debugging HTM-->L, because you can comment out HTML lines of code, one at a time, to search for errors .This file will not execute alone, it will execute with .html file only. So we can follow the HTML run instruction as per the previous HTML.</p>
<a href="#" class="btn" >Read Our Story</a>
</div></div>
</section>

<!------------services---------->


<section class="tomm" id="service">
<div class="tcontain">
<div class="mar11">
<h3> What We Do</h3>
<p><!--Comments are also great for debugging HTML, because you can comment out HTML lines of code, one at a  because you can comment out HTML lines of code, one at a time, to search for errors .-->
This file will not execute alone, it will execute with .html file only. So we can follow the HTML run instruction as per the previous HTML tutorial.</p>
</div>

<!-----------icon section----------->


<div class="serv">

<div class="Box">
<div class="iconbx">
<img src="icon1.jpg">
<div class="contentc">
<h2>my logo</h2>
<p>Hollywood action status instagram
</p></div></div>
<div class="iconbx">
<img src="icon1.jpg">
<div class="contentc">
<h2>Mr.loanly</h2>
<p>Hollywood action status whatsapp.
</p></div></div>
<div class="iconbx">
<img src="icon1.jpg">
<div class="contentc">
<h2>Surai baba</h2>
<p>Hollywood action status facebook.
</p></div></div>
</div>
</div>
</section>


<!------------------OUR ACHIVEMENT-------->

<section class="stat">
<div class="content5">
<div class="hemu">
<h3>Our Achievement</h3>
<p>Comments are also great for debugging comment out HTML lines of <!--code, one at a time, to search for errors 
Comments are also great for debugging HTML, because you can c-->omment out HTML lines of code, one at a time, to search for errors .This file will not execute alone, it will execute with .html file only. So we can follow the HTML run instruction as per the previous HTML.
</p>
</div>
<div class="statsbox">
<div class="boxx">
<h2>1200+</h2>
<h4>Projects</h4>
</div>
<div class="boxx">
<h2>800+</h2>
<h4>Happy Clients</h4>
</div>
<div class="boxx">
<h2>120+</h2>
<h4>Countries</h4>
</div>
<div class="boxx">
<h2>50+</h2>
<h4>Awards</h4>
</div>
</div>
</div>
</section>


<!---------Recent works------>


<section class="work" id="portfolio">
<div class="content">
<div class="mac21">
<h3>Recent Works</h3>
<p>Comments are also great for debugging of code, one at a time, to search for errors 
Comments are also great for <!--debugging HTML, because you can comment out HTML lines of code, one at a time, to search for errors .This file -->will not execute alone, it will execute with .html file only. So we can follow the HTML run instruction as per the previous HTML.</p>
</div>
<div class="workbx">
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
<div class="brand5">
<a href="#" ><h1>Brandname</h1></a>
</div>
</div>
</div>
</section>


<!------------------Out Team-------------------->


<section class="team" id="team">
<div class="content tea">
<div class="max221">
<h3>Meet Our Experts</h3>
<p>Comments are also great for debugging comment out HTML lines of code, one at a time, to search for errors 
Comments are also great for debugging HTML, because you can comment out HTML lines of code.</p>
</div>



<!---------------Team members--------------->


<div class="teambx">
<div class="member">
<div class="imgbx">
<img src="icon1.jpg">
</div>
<div class="details">
<h2>Suraj .M</br><span>Editor</span></h2>
</div></div>
<div class="member">
<div class="imgbx">
<img src="icon1.jpg">
</div>
<div class="details">
<h2>Akash .Y</br><span>Java Expert</span></h2>
</div></div>
<div class="member">
<div class="imgbx">
<img src="icon1.jpg">
</div>
<div class="details">
<h2>Shub.k</br><span>Designer</span></h2>
</div></div>
<div class="member">
<div class="imgbx">
<img src="icon1.jpg">
</div>
<div class="details">
<h2>Priya .j</br><span>Checker</span></h2>
</div></div>
</div></div></section>



<!-------------------contact------------------->


<section class="contact" id="contact">
<div class="contenttea">
<div class="max261">
<h3>Send us a message</h3>
<p>IF you want any Help ...Please Contact us</p>
</div>


<!--------------contact form------------->


<div class="contactform">
<form>
<div class="row100">
<div class="inputbx50">
<input type="text" placeholder="Full Name"/>
</div>
<div class="inputbx50">
<input type="text" placeholder="Email Address"/>
</div></div>
<div class="row100">
<div class="inputbx100">
<textarea placeholder="Message"></textarea>
</div></div>
<div class="row100" >
<div class="inputbx100">
<input type="submit" value="send"/>
</div></div></form></div>
<p class="copyright">&copy Design and Develop by <a href="#" ><span>Suraj Mistri</span></a></p>

</section>

</body>

</html>