*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first_header li a{
    text-decoration: none;
    font-size: 12px;
    padding: 0%;
   

}
.first_header{
    height: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: -10px;
}
#main_nav{
    background-color: black;
}
#main_nav ul li a{
    font-size: 13px;
}
.float-left{
    float: left !important;
}
.box .box-img img{
    /* box-shadow: 0 0 1px rgb(56, 56, 56); */
}
#main-nav{
    z-index: 700;
    position: fixed;
}

.content{
    width: 92%;
    position: absolute;
    top: 160px;
    text-align: center;
    box-sizing: border-box;
    color: white;
}
.content h2{
    text-shadow: 0 0 5px black;   
    text-align: center;


}
#rating-bar{
    border-bottom: 1px solid rgba(162, 162, 162, 0.319);
}


/* title============ */
h3 {
    border-bottom: 2px solid orange;
    width: 13%;
    /* background-color: yellow; */
    box-sizing: border-box  ;
}

/* footer=============== */
#footer{
    background-color: black;
}
#sec-row #list li{
    line-height: 40px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.copy p{
    padding: 30px;
    color: white;

    font-size: 13px;
}
  
/* social */

.social a i{
    border-radius: 50%;
    font-size: 27px;
    color: white;
    padding: 12px;
    color: white;
    margin: auto 6px;
}

